{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ - Chat</title>
</head>

<body>
    <h1>Dj - Chat Home</h1>
    <!-- TODO #3 add gitHub and google login-->
    <div>
        <a href="{% url 'main' %}">Home Page</a>
        <a href="#">Groups</a>
        <a href="{% url 'social:begin' 'github' %}">login</a>
    </div>
    {% block body %}
    {% endblock body %}
</body>

</html>